<launch>
    <!-- Rafael -->
    <group ns="rafael">
        <include file="$(find aruco_detect)/launch/aruco_detect.launch">
            <param name="publish_images" value="true" />
            <arg name="do_pose_estimation" value="true" />
            <arg name="vis_msgs" value="true" />
            <arg name="fiducial_len" value="0.14" />
            <arg name="dictionary" value="7" />
            <arg name="camera" value="/rafael/raspicam_node" />
            <arg name="image" value="image" />
        </include>
        <!-- Run fiducial_dist for Rafael -->
        <node name="fidutial_dist" pkg="right_of_way_project" type="fiducial_dist.py" output="screen">
            <param name="robot_namespace" value="rafael"/>
        </node>
        <!-- Run load_follower for Rafael -->
        <node name="load_follower_rafael" pkg="right_of_way_project" type="road_follower_rafael.py" output="screen">
            <param name="robot_namespace" value="rafael"/>
        </node>
    </group>

    <!-- Roba -->
    <!-- No namespace for Roba -->
    <include file="$(find aruco_detect)/launch/aruco_detect.launch">
        <param name="publish_images" value="true" />
        <arg name="do_pose_estimation" value="true" />
        <arg name="vis_msgs" value="true" />
        <arg name="fiducial_len" value="0.14" />
        <arg name="dictionary" value="7" />
        <arg name="camera" value="raspicam_node" />
        <arg name="image" value="image" />
    </include>
    <!-- Run fiducial_dist for roba -->
    <node name="fiducial_dist" pkg="right_of_way_project" type="fiducial_dist.py" output="screen">
        <param name="robot_namespace" value=""/>
    </node>
    <node name="load_follower" pkg="right_of_way_project" type="road_follower.py" output="screen">
        <param name="robot_namespace" value=""/>
    </node>
</launch>